
.bg{background-color:#0F1F26!important ;
}
.title{color: #03B8F7 !important; 
    font-size: 30px!important;
}
.label{color: #03B8F7;
    font-size: 20px;
    }
.textLabel{
        font-size: 20px;
    }

.aboutText{ font-size: 15px;}

.profilePhoto{
    width:300px;
    height: 300px;
}
 
a{color: white !important; 
    font-weight: 600!important; 
    margin-right:5px!important;
} 
a:active{color: #111111 !important; 
        font-weight: 600!important;  
          
}
a:hover{color: white !important; 
    font-weight: 600!important;
    text-decoration: none!important;}

a.webLinks:hover {
    color: #03B8F7!important; 
    text-decoration: none!important;
    font-size: 95%!important;}
a.webLinks {
        color: white!important; 
        text-decoration: none!important;
    }

.imageContent{ width: 200px!important;
    height: auto !important;
}
.cardDesignClean{background-color:#0F1F26!important ;
    border: none!important;
    
}

    
