.bg {
  background-color: #0f1f26 !important ;
}
.bgBlack {
  background-color: #111111 !important ;
}
.title {
  color: #03b8f7 !important;
  font-size: 30px !important;
}
.jumbotron {
  background-image: url("../images/coverphoto.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat !important;
  height: 40em;
  width: 100%;
}
.jumboTitle {
  color: #03b8f7;
  font-size: 100px !important;
  margin-left: 22%;
  margin-top: 7%;
}
.jumboText {
  color: white;
  font-size: 40px !important;
  margin-left: 23%;
}
.jumboButton {
  color: white;
  font-size: 25px !important;

  padding: 7px 40px !important;
  background: rgb(3, 184, 247) !important;
  background: linear-gradient(
    60deg,
    rgba(3, 184, 247, 1) 0%,
    rgb(0 55 255) 100%
  ) !important;
  border-radius: 2px !important;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.15) !important;
}
/* for text design */
.label {
  color: #03b8f7;
  font-size: 20px;
}
.textLabel {
  font-size: 20px;
}

.aboutText {
  font-size: 15px;
}
/* for image design */
.lpImage {
  width: 10% !important;
  height: 10px !important;
}
.socialIcons {
  font-size: 20px;
  margin: 0px 15px 3px 0px;
  color: white !important;
}
.socialIcons:hover {
  color: #03b8f7 !important;
  text-decoration: none !important;
  font-size: 125% !important;
}
.profilePhoto {
  max-width: 100%;
  max-height: 100%;
  width: 150px;
  height: 150px;
  padding: 2px;
  background: rgb(3, 184, 247) !important;
  background: linear-gradient(
    60deg,
    rgba(3, 184, 247, 1) 0%,
    rgb(0 55 255) 100%
  ) !important;
}
/* for link design */
a {
  color: white !important;
  font-weight: 600 !important;
  margin-right: 5px !important;
}
a:active {
  color: #111111 !important;
  font-weight: 600 !important;
}
a:hover {
  color: white !important;
  font-weight: 600 !important;
  text-decoration: none !important;
}

a.webLinks:hover {
  color: #03b8f7 !important;
  text-decoration: none !important;
  font-size: 95% !important;
}
a.webLinks {
  color: white !important;
  text-decoration: none !important;
}

.imageContent {
  width: 200px !important;
  height: auto !important;
}
.cardDesignClean {
  background-color: #0f1f26 !important ;
  border: none !important;
}
/* for buttons design */
/* .nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  .background: rgb(3, 184, 247) !important;
  background: linear-gradient(
    60deg,
    rgba(3, 184, 247, 1) 0%,
    rgb(0 55 255) 100%
  ) !important;
  border-radius: 5px !important;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.15) !important;
} */
.btnGradient {
  background: rgb(3, 184, 247) !important;
  background: linear-gradient(
    60deg,
    rgba(3, 184, 247, 1) 0%,
    rgb(0 55 255) 100%
  ) !important;
  border-radius: 2px !important;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.15) !important;
}
