.bgWhite {
  color: #f6f6f6 !important;
  background-color: #0f1f26;
}
.labels {
  color: #03b8f7;
  font-weight: 600;
}
.titleInfo {
  color: #03b8f7;
  font-weight: 600;
  background-color: #111111 !important;
}
