h3 {
  color: #03b8f7;
  font-size: 23px;
  width: 80%;
}
.menuIcon {
  font-size: 30px;
  box-shadow: none;
}
.imputGroupSize {
  width: 50% !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
.textJustify {
  text-align: justify !important;
  text-justify: inter-word !important;
}
.cutText {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.uploadPhoto {
  opacity: 0;
  font-size: 350%;
  position: absolute;
  margin: 10% 0 1% 10%;
}
.uploadPhoto:hover {
  opacity: 0.9;
  font-size: 350%;
  position: absolute;
  margin: 10% 0 1% 10%;
}

.bg {
  background-color: #0f1f26 !important ;
}
.homeContent {
  overflow: hidden;
  overflow-y: scroll;
}
.example {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.example::-webkit-scrollbar {
  display: none;
}
.dropdownToggle {
  background-color: none;
  width: fit-content;
  border: none;
  box-shadow: none;
  content: none !important;
}
.dropdownToggle:after {
  content: none !important;
  border: 0px !important;
  box-shadow: none;
}
.dropdownToggle:focus {
  content: none !important;
  border: 0px !important;
  box-shadow: none;
}
.bgBlack {
  background-color: #111111 !important ;
}

.jumbotron {
  background-image: url("../images/coverphoto.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat !important;
  height: 40em;
  width: 100%;
}
.jumboTitle {
  color: #03b8f7;
  font-size: 100px !important;
  margin-left: 22%;
  margin-top: 7%;
}
.jumboText {
  color: white;
  font-size: 40px !important;
  margin-left: 23%;
}
.jumboButton {
  color: white;
  font-size: 25px !important;

  padding: 7px 40px !important;
  background: rgb(3, 184, 247) !important;
  background: linear-gradient(
    60deg,
    rgba(3, 184, 247, 1) 0%,
    rgb(0 55 255) 100%
  ) !important;
  border-radius: 2px !important;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.15) !important;
}
/* for text design */
.label {
  color: #03b8f7;
  font-size: 20px;
}
.title {
  color: #03b8f7;
  font-size: 30px;
}
.titleWhite {
  color: white;
  font-size: 30px;
}
.mediumTitleWhite {
  color: white;
  font-size: 25px;
}
.smallTitleBlue {
  color: #03b8f7;
  font-size: 15px;
}
.mediumTitleBlue {
  color: #03b8f7;
  font-size: 25px;
}
.text {
  color: white;
  font-size: 17px;
}
.titleBig {
  color: #03b8f7;
  font-size: 60px;
}
.profileTitle {
  color: #03b8f7;
  font-size: 30px;
}
.textLabel {
  font-size: 20px;
}

.aboutText {
  font-size: 15px;
}
/* for image design */
.imageProjectContent {
  height: auto !important;
  width: auto;
  max-width: 700px;
  max-height: 350px;
  position: center;
}
.lpImage {
  width: 10% !important;
  height: 10px !important;
}
.socialIcons {
  font-size: 20px;
  margin: 0px 15px 3px 0px;
  color: white !important;
}
.socialIcons:hover {
  color: #03b8f7 !important;
  text-decoration: none !important;
  font-size: 125% !important;
}
.profilePhoto {
  max-width: 100%;
  max-height: 100%;
  width: 250px;
  height: 250px;
}
/* for link design */
a {
  color: white !important;
  font-weight: 600 !important;
  margin-right: 5px !important;
}
a:active {
  color: #111111 !important;
  font-weight: 600 !important;
}
a:hover {
  color: white !important;
  font-weight: 600 !important;
  text-decoration: none !important;
}

a.webLinks:hover {
  color: #03b8f7 !important;
  text-decoration: none !important;
}
a.webLinks {
  color: white !important;
  text-decoration: none !important;
}

.imageContent {
  width: 200px !important;
  height: auto !important;
}
.cardDesignClean {
  background-color: #0f1f26 !important ;
  border: none !important;
  border-color: none !important;
}
.cardDesignClean:focus {
  background-color: #0f1f26 !important ;
  box-shadow: none !important;
}

.btnGradient {
  background: rgb(3, 184, 247) !important;
  background: linear-gradient(
    60deg,
    rgba(3, 184, 247, 1) 0%,
    rgb(0 55 255) 100%
  ) !important;
  border-radius: 2px !important;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.15) !important;
}
.gradient {
  background: rgb(3, 184, 247) !important;
  background: linear-gradient(
    60deg,
    rgba(3, 184, 247, 1) 0%,
    rgb(0 55 255) 100%
  ) !important;
  border-radius: 2px !important;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.15) !important;
}
.textGradient {
  color: rgb(3, 184, 247) !important;
  color: linear-gradient(
    60deg,
    rgba(3, 184, 247, 1) 0%,
    rgb(0 55 255) 100%
  ) !important;
  border-radius: 2px !important;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.15) !important;
}

.bg {
  background-color: black;
}
.myfooter {
  background-color: #070a1d;

  width: 100%;
}
.textCol {
  width: 10px !important;
}
@media only screen and (max-width: 600px) {
  .menuIcon {
    margin-top: -85px;
  }
  .imputGroupSize {
    width: 100% !important;
  }
  h3 {
    font-size: 23px;
    width: 80%;
  }

  /* .imageProjectContent {
    object-fit: cover;
    margin: 0px;
  } */
}
